page-settings {
    .login-background {
        background: url("../../assets/imgs/road.jpg") no-repeat fixed center;
        background-size: cover;
      }

      .heading{
        background-color: color($colors, btn, base);
        height: 45px;
      }

      .form{
        border: 1px solid black;
        margin-top: 20%;
        opacity: 0.7;
      }
}
