page-home {
    .login-background {
        background: url("../../assets/imgs/driver_home.jpg") no-repeat fixed center;
        width:100%;
        height:100%;       
         
      }   
     
      .center-text {
        text-align: bottom;
        font-size: 6vw;
        color: color($colors, dark, base);
        text-transform: capitalize;
        margin-top:30px;
        margin-bottom: 10px;
      }
     
}
