page-home {
  .heading{
    background-color: color($colors, btn, base);
    height: 45px;
   }
    .login-background {
        background: url("../../assets/imgs/driver.jpg") no-repeat fixed center;
        background-size: cover;
      }

      .form{
        border: 3px solid black;
        width: 75%;
        margin-left: 12.5%;
        margin-top: 5%;
        opacity: 0.7;
      }
      .center-text {
        text-align: bottom;
        font-size: 5vw;
        color:white;
        text-transform: capitalize;
        margin-top:30px;
        margin-bottom: 10px;
      }


}
