page-home {
    .login-background {
        background: url("../../assets/imgs/start.jpeg") no-repeat fixed center;
        background-size: cover;     
         
      }   
     
      .center-text {
        text-align: bottom;
        font-size: 5vw;
        color:white;
        text-transform: capitalize;
        margin-top:30px;
        margin-bottom: 10px;
      }
      
     
}
