page-intro {
//     .heading{
//       background-color: color($colors, btn, base);
//       height: 45px;
//     }

    #setting{
      margin-top: -22%;
      margin-right: 5%;
    }

    .login-background {
        background: url("../../assets/imgs/final.jpeg") no-repeat fixed center;
        background-size: cover;
        // background-color: #c58bef;
      }
      .center-text {
        text-align: bottom;
        font-size: 6vw;
        color:#ff0066;
        text-transform: capitalize;
        margin-top:30px;
        margin-bottom: 10px;
      }

      .btn img {
        left: 50%;
        margin-left: -15px; /* 1/2 of total width of your img */
        top: 50%;
        margin-top: -15px; /* 1/2 of total height of your img */
        position: absolute;

    }

      .special { height: 18% !important; margin: 5vw 3vw 0 !important; padding: 0 !important;width:250px; }
}
